<link href="css/dressup.css" rel="stylesheet" crossorigin="anonymous">

<h1>DRESSUP</h1>

<div class="welcome h3">Welcome to your own special closet</div>
<a class="btn btn-primary connect mt-5">connect wallet</a>
<input type="text" value="<%= @signrand %>" id="signrand" hidden>

<div class="box rounded" width="250" height="250" style="display: none;">
  <img src="" width="250" class="preview img_01 border p-2 rounded">
  <img class="preview img_02 p-2 rounded" width="250" style="display:none;">
</div>
<h6 id="nftname"></h6>

  <% for i in 0..1 %>
    <div class="cloths <%= i == 0 ? "Wom" : "Men" %> mt-3 border rounded" style="display:none;">
      <% for filename in @clothesNames[i] do %>
        <input type="image" src="<%= @clothesPath[i] %><%= filename %>" style="border: double;" height="200" width="200" class="cloth bg-dark m-3 rounded" data-id='<%= filename %>'/>
      <% end %>
    </div>
  <% end %>

  <form action="dress" name="dressForm" method="POST">
    <div class="inputbody" style="display: none;">
      <h3>Enter the TokenID</h3>
      <input type="text" class="inputbody form-control mt-5" style="width: 200px" name="target" placeholder="Token ID">
      <a class="btn btn-primary mt-3 ok">OK</a>
    </div>
    <input type="text" class="inputcloth" name="cloth" placeholder="服" hidden>
    <input type="text" class="inputsex" name="sex" placeholder="性別" hidden>
    <input type="text" class="inputsign" name="sign" placeholder="署名" hidden>
    <button type="button" style="display: none;" class="btn btn-primary mt-5 kettei">DRESSUP!</button>
  </form>
</div>

<script src="./js/abi.js"></script>
<script src="./js/dressup.js"></script>